div{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px -1px #000000;
  font-weight: bold;
}
div:hover{
  background-color: #00747C;
  color: white;
  cursor: pointer;
}
